*.class

# Package Files #
#*.jar
*.war
*.ear
/bin
.classpath
logs/log.log
dictionary/1.txt
data/
dictionary/index.txt
dictionary/bigram_index_b*
logs/log.log.1
config.properties.rej
lib/JSON-java/org/json/*.java
lib/JSON-java/org/json/zip/
lib/JSON-java/org/json/MANIFEST.txt
lib/JSON-java/org/json/README
lib/lucene-4.7.1/docs*
lib/lucene-4.7.1/
queries/
dictionary/lucene/
